<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar esse usuário", edit_user_path(@user) %> |
  <%= link_to "Voltar para usuários", users_path %>

  <%= button_to "Deletar o usuário", @user, method: :delete %>
</div>
